<!DOCTYPE html> 

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="images/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Nilay Parik to try node.js learnings. The weather forecast data comes from mapbox.com and weatherstack.com.</p>
            <img class="portrait" src="/images/mypic.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>